<html>
  <head>
    {% if title %}
    <title>{{title}} - microblog</title>
    {% else %}
    <title>microblog</title>
    {% endif %}

    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}">
  </head>
  <body>
    <div id = "nav">
    	<ul>
		<li><a href="home">home</a></li>
		<li><a href="home">override</a></li>
		<li><a href="home">config</a></li>
		<li><a href="home">schedule</a></li>
		<li><a href="home">graphs</a></li>
	</ul>
    </div>
	
   {% block content %}{% endblock %}
  </body>
</html>
