<html>
	<head>
		<link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}">
		<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
		<script>window.jQuery || document.write('<script src="{{url_for('static', filename='jquery.js') }}">\x3C/script>')</script>
		
		<script type=text/javascript>
		
			window.onload = function() {
				var el = document.getElementById('toggleOnOff');
				el.onclick = sendOnStop
			}
			
			function sendOnStop() {
				$.get('/toggle_on_off', {}, function(data){});
			}
		
			function update()
			{
				startTime = Date.now();
				$.getJSON(                            	// Get some values from the server
					'/_get_current_data',				// At this URL
					{},									// With no extra parameters
					function(data)						// And when you get a response
					{
						//process and write into the various elements.
						$("#inTemp").text((data.inTemp*9/5+32).toFixed(1)); 	
						var inTempTime = 	new Date(data.inTempTime*1000);
						$("#inTempTime").text("Indoor updated at " + inTempTime.format("m-d-y h:i:s a"));
						$("#outTemp").text((data.outTemp*9/5+32).toFixed(1));
						var outTempTime = 	new Date(data.outTempTime*1000);
						$("#outTempTime").text("Outdoor updated at " + outTempTime.format("m-d-y h:i:s a"));
						$("#setPtTemp").text((data.setPtTemp*9/5+32).toFixed(1));
						$("#opMode").text(data.opMode);
					});
					
				setTimeout(update, 10000 - (Date.now() - startTime));
			}
			
			update();
		</script>
		<title>{{ title }}</title>
	</head>
	<body>
		<div id="nav">
			<ul>
				<li><a href="index">home</a></li>
				<li><a href="override">override</a></li>
				<li><a href="config">config</a></li>
				<li><a href="schedule">schedule</a></li>
				<li><a href="graphs">graphs</a></li>
			</ul>
		</div>
		
		<!--These should be specific -->
		<div id="readoutContainer">
			<div class='box'> 
				<div class='readoutValue' id='inTemp'>--</div>
				<div class='readoutCaption'>Indoor Temperature</div>
			</div>
			<div class='box'> 
				<div class='readoutValue' id='outTemp'>--</div>
				<div class='readoutCaption'>Outdoor Temperature</div>
			</div>
			<div class='box'> 
				<div class='readoutValue' id='setPtTemp'>--</div>
				<div class='readoutCaption'>Set Point Temperature</div>
			</div>
			<div class='box'> 
				<div class='readoutValue' id='opMode'>--</div>
				<div class='readoutCaption'>Operating Mode</div>
			</div>
		</div>
		
		<!--This should  be a for loop iterating through an arbitrary number of messages.-->
		<div id="explainContainer">
			<p class='explainString' id='inTempTime'>Waiting for internal temp update...</p>
			<p class='explainString' id='outTempTime'>Waiting for external temp update...</p>
			<p class='explainString'><a id='toggleOnOff' href='#'>Send On/Stop</a></p>
		</div>
	</body>
</html>