<html>
	<head>
		<link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}">
		<link rel=stylesheet type=text/css href="{{ url_for('static', filename='jquery.timepicker.css') }}">
		<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
		<script>window.jQuery || document.write('<script src="{{url_for('static', filename='jquery.js') }}">\x3C/script>')</script>
		<script src="{{url_for('static', filename='jquery.timepicker.min.js')}}"></script>
		<script src="{{url_for('static', filename='jquery.tablesorter.min.js')}}"></script>
		
		<title>{{ title }}</title>
	</head>
	
	<body>
		<div id="nav">
			<ul>
				<li><a href="index">home</a></li>
				<li><a href="override">override</a></li>
				<li><a href="config">config</a></li>
				<li><a href="schedule">schedule</a></li>
				<li><a href="graphs">graphs</a></li>
			</ul>
		</div>
		
		<div>
			<div id="explainContainer"> <b>System Schedule</b>
				<table id="scheduleTable" border="0">
					<thead>
						<tr>
							<th>Day</th>
							<th>Time</th>
							<th>Low Temp</th>
							<th>High Temp</th>
							<th><a href="javascript:void(0)" onclick="AddRowTop()">Insert Top</a>

							</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td>
								<select id="daypicker">
									<option value="0">Sunday</option>
									<option value="0">Monday</option>
									<option value="0">Tuesday</option>
									<option value="0">Wednesday</option>
									<option value="0">Thursday</option>
									<option value="0">Friday</option>
									<option value="0">Saturday</option>
								</select>
							<td> <input id="timepicker" type="text" class="time" size=6/>  
								<script> 
									$(function() { 
										$('#timepicker').timepicker({ 'step': 15 }); 
									}); 
								</script>
							</td>
							<td> <input type="text" size=1 />  </td>
							<td> <input type="text" size=1 />  </td>
							<td> <a href="#" class="insert">Insert Below</a> </td>
							<td> <a href="#" class="remove">Remove</a> </td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
		
		<script type=text/javascript>
			SetColor(); //set the table colors (alternating white/grey rows)

			// Remove table row after clicking table row delete button
			$("body").on("click", ".remove", function () {
				RemoveTableRow(this);
			});

			// Insert new row below current row after clicking "Insert Below"
			$("body").on("click", ".insert", function () {
				InsertRowBelow(this);
			});
			
			// html table odd even row color
			function SetColor() {
				$("tr:odd").css("background-color", "#eee");
				$("tr:even").css("background-color", "#ddd");
			}

			// Dynamically add and delete html table row on user click 
			function RemoveTableRow(element) {
				var rowCount = $('tr').length;
				if (rowCount > 2) {
					var tr = $(element).closest('tr');
					tr.remove();
					SetColor();
				}
				return false;
			}

			// How to insert row at end of table
			function AddRowBottom() {
				var newRow = $('table tbody tr:last').clone();
				$('table').append(newRow);
				newRow.find('#timepicker').timepicker({ 'step': 15, 'timeFormat':'H:i'  }); 
				callback = function(table){
					alert('new sort applied 1');
				};
				$('#scheduleTable').trigger("update", [true, callback]);
				$('#scheduleTable').trigger("updateCache");
				SetColor();
			}

			// Insert a row below the clicked element
			function InsertRowBelow(element) {
				var newRow = $(element).closest("tr").clone();
				newRow.find('#timepicker').timepicker({ 'step': 15, 'timeFormat':'H:i'  });
				$(element).closest("tr").after(newRow);
				callback = function(table){
					alert('new sort applied 2');
				};
				$('#scheduleTable').trigger("update", [true, callback]);
				$('#scheduleTable').trigger("updateCache");
				SetColor();
			}

			// How to insert row at top of table
			function AddRowTop() {
				var newRow = $('table tbody tr:last').clone();
				$('table').prepend(newRow);
				newRow.find('#timepicker').timepicker({ 'step': 15, 'timeFormat':'H:i' }); 
				callback = function(table){
					alert('new sort applied 3');
				};
				$('#scheduleTable').trigger("update", [true, callback]);
				$('#scheduleTable').trigger("updateCache");
				SetColor();
			}
			
			var sortTextExtract = function(node) {
				return node.childNodes[0].value; 
			} 
			
			$(document).ready(function() 
			{ 
				$("#scheduleTable").tablesorter( {sortList: [[0,1], [1,0]], textExtraction: sortTextExtract} ); 
				
				$('#daypicker').change(function() {
					$("#scheduleTable").trigger("sorton", [[1,0], [2,0]]); 
					callback = function(table){
						alert('new sort applied daypicker');
					};
					$('#scheduleTable').trigger("update", [true, callback]);
					$('#scheduleTable').trigger("updateCache");
					
				});
				
				$('#timepicker').change(function() {
					$("#scheduleTable").trigger("sorton", [[1,0], [2,0]]); 
					callback = function(table){
						alert('new sort applied timepicker');
					};
					$('#scheduleTable').trigger("update", [true, callback]);
					$('#scheduleTable').trigger("updateCache");
				});
			} 
); 
		</script>
	</body>
</html>