<html>
	<head>
		<link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}">
		<link rel=stylesheet type=text/css href="{{ url_for('static', filename='jquery.timepicker.css') }}">
		<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
		<script>window.jQuery || document.write('<script src="{{url_for('static', filename='jquery.js') }}">\x3C/script>')</script>
		<script src="{{url_for('static', filename='jquery.timepicker.min.js')}}"></script>		
		
		<title>{{ title }}</title>
	</head>
	
	<body>
		<div id="nav">
			<ul>
				<li><a href="index">home</a></li>
				<li><a href="override">override</a></li>
				<li><a href="config">config</a></li>
				<li><a href="schedule">schedule</a></li>
				<li><a href="graphs">graphs</a></li>
			</ul>
		</div>
		
		<div>
			<div style="width: 49%; float: left;"> <b>System Schedule</b>
				<table border="0">
					<thead>
						<tr>
							<th>Day / Time</th>
							<th>Low Temp</th>
							<th>High Temp</th>
							<th><a href="javascript:void(0)" onclick="AddRowTop()">Insert Top</a>

							</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td> <script> $(function() { $('#stepExample1').timepicker({ 'step': 15 }); }); </script> </td>
							<td> <input type="text" size=1>  </td>
							<td> <input type="text" size=1>  </td>
							<td> <a href="#" class="insert">Insert Below</a> </td>
							<td> <a href="#" class="remove">Remove</a> </td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
		<script type=text/javascript>
			SetColor(); //set the table colors (alternating white/grey rows)

			// Remove table row after clicking table row delete button
			$("body").on("click", ".remove", function () {
				RemoveTableRow(this);
			});

			// Insert new row below current row after clicking "Insert Below"
			$("body").on("click", ".insert", function () {
				InsertRowBelow(this);
			});

			// html table odd even row color
			function SetColor() {
				$("tr:odd").css("background-color", "#eee");
				$("tr:even").css("background-color", "#ddd");
			}

			// Dynamically add and delete html table row on user click 
			function RemoveTableRow(element) {
				var rowCount = $('tr').length;
				if (rowCount > 2) {
					var tr = $(element).closest('tr');
					tr.remove();
					SetColor();
				}
				return false;
			}

			// How to insert row at end of table
			function AddRowBottom() {
				$('table').append($('table tbody tr:last').clone());
				SetColor();
			}

			// Insert a row below the clicked element
			function InsertRowBelow(element) {
				$(element).closest("tr").after($(element).closest("tr").clone());
				SetColor();
			}

			// How to insert row at top of table
			function AddRowTop() {
				$('table').prepend($('table tbody tr:first').clone());
				SetColor();
			}
		</script>
	</body>
</html>