<html>
	<head>
		<link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}">
		<link rel=stylesheet type=text/css href="{{ url_for('static', filename='jquery.timepicker.css') }}">
		<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
		<script>window.jQuery || document.write('<script src="{{url_for('static', filename='jquery.js') }}">\x3C/script>')</script>
		<script src="{{url_for('static', filename='jquery.timepicker.min.js')}}"></script>		
		
		<title>{{ title }}</title>
	</head>
	
	<body>
		<div id="nav">
			<ul>
				<li><a href="index">home</a></li>
				<li><a href="override">override</a></li>
				<li><a href="config">config</a></li>
				<li><a href="schedule">schedule</a></li>
				<li><a href="graphs">graphs</a></li>
			</ul>
		</div>
		
		<div>
			<div id="explainContainer"> <b>System Schedule</b>
				<form id="schedForm"> 
					<table id="scheduleTable" border="0">
						<thead>
							<tr>
								<th>Day</th>
								<th>Time</th>
								<th>Low Temp</th>
								<th>High Temp</th>
								<th><a href="javascript:void(0)" onclick="AddRowTop()">Insert Top</a>

								</th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td>
									<select id="daypicker" class="daypicker" name="daypicker0">
										<option value="0">Sunday</option>
										<option value="1">Monday</option>
										<option value="2">Tuesday</option>
										<option value="3">Wednesday</option>
										<option value="4">Thursday</option>
										<option value="5">Friday</option>
										<option value="6">Saturday</option>
									</select>
								<td> <input id="timepicker" type="text" class="time" name="timepicker0" size=6/>  
									<script> 
										$(function() { 
											$('#timepicker').timepicker({ 'step': 15 }); 
										}); 
									</script>
								</td>
								<td> <input type="text" id="lowTempBox" name="lowTempBox0" class="lowTempBox" size=1 />  </td>
								<td> <input type="text" id="highTempBox" name="highTempBox0" class="highTempBox" size=1 />  </td>
								<td> <a href="#" class="insert">Insert Below</a> </td>
								<td> <a href="#" class="remove">Remove</a> </td>
							</tr>
						</tbody>
					</table>
				</form>
				<button type="submit" form="schedForm" 	value="Save">Save Schedule</button>
				<div id="submitResult"></div>
			</div>
		</div>
		
		<script type=text/javascript>
			SetColor(); //set the table colors (alternating white/grey rows)

			var cloneId = 0;
			
			// Remove table row after clicking table row delete button
			$("body").on("click", ".remove", function () {
				RemoveTableRow(this);
			});

			// Insert new row below current row after clicking "Insert Below"
			$("body").on("click", ".insert", function () {
				InsertRowBelow(this);
			});
			
			// Fires any time a daypicker changes.
			$("body").on('change', '.daypicker', function() {	
				sortTable();
			});
			
			// Fires any time a timepicker changes.
			$("body").on('change', '.timepicker', function() {	
				sortTable();
			});
			
			// html table odd even row color
			function SetColor() {
				$("tr:odd").css("background-color", "#eee");
				$("tr:even").css("background-color", "#ddd");
			}

			function sortTable(){
				var tbl = document.getElementById("scheduleTable").tBodies[0];
				var store = [];
				for(var i=0, len=tbl.rows.length; i<len; i++){
					var row = tbl.rows[i];
					var sortnr = $($(row.cells[1]).children()[0]).timepicker('getSecondsFromMidnight') + 3600*24*parseInt($($(row.cells[0]).children()[0]).val());
					if(!isNaN(sortnr)) store.push([sortnr, row]);
				}
				store.sort(function(x,y){
					return x[0] - y[0];
				});
				for(var i=0, len=store.length; i<len; i++){
					tbl.appendChild(store[i][1]);
				}
				store = null;
				SetColor();
			}
			
			// Dynamically add and delete html table row on user click 
			function RemoveTableRow(element) {
				var rowCount = $('tr').length;
				if (rowCount > 2) {
					var tr = $(element).closest('tr');
					tr.remove();
					SetColor();
				}
				return false;
			}

			// How to insert row at end of table
			function AddRowBottom() {
				var newRow = $('table tbody tr:last').clone();
				cloneId++;
				newRow.find('.daypicker').attr('id', 'daypicker'+cloneId).attr('name','daypicker'+cloneId);
				newRow.find('.time').attr('id', 'timepicker'+cloneId).attr('name','timepicker'+cloneId);
				newRow.find('.lowTempBox').attr('id', 'lowTempBox'+cloneId).attr('name','lowTempBox'+cloneId);
				newRow.find('.highTempBox').attr('id', 'highTempBox'+cloneId).attr('name','highTempBox'+cloneId);
				
				newRow.find('.time').timepicker({ 'step': 15 }); 
				
				$('table').append(newRow);
				SetColor();
			}

			// Insert a row below the clicked element
			function InsertRowBelow(element) {
				var newRow = $(element).closest("tr").clone();
				cloneId++;
				newRow.find('.daypicker').attr('id', 'daypicker'+cloneId).attr('name','daypicker'+cloneId);
				newRow.find('.time').attr('id', 'timepicker'+cloneId).attr('name','timepicker'+cloneId);
				newRow.find('.lowTempBox').attr('id', 'lowTempBox'+cloneId).attr('name','lowTempBox'+cloneId);
				newRow.find('.highTempBox').attr('id', 'highTempBox'+cloneId).attr('name','highTempBox'+cloneId);
				
				newRow.find('.time').timepicker({ 'step': 15 });
				
				$(element).closest("tr").after(newRow);
				SetColor();
			}

			// How to insert row at top of table
			function AddRowTop() {
				var newRow = $('table tbody tr:last').clone();
				cloneId++;
				newRow.find('.daypicker').attr('id', 'daypicker'+cloneId).attr('name','daypicker'+cloneId);
				newRow.find('.time').attr('id', 'timepicker'+cloneId).attr('name','timepicker'+cloneId);
				newRow.find('.lowTempBox').attr('id', 'lowTempBox'+cloneId).attr('name','lowTempBox'+cloneId);
				newRow.find('.highTempBox').attr('id', 'highTempBox'+cloneId).attr('name','highTempBox'+cloneId);
				
				newRow.find('.time').timepicker({ 'step': 15 }); 
				
				$('table').prepend(newRow);
				SetColor();
			}
			
			// AJAX form submission
			$( "form" ).on( "submit", function( event ) {
				event.preventDefault();
				var submitStr = $( this ).serialize()
				$("#submitResult").text("Saving...");
				$.post('scheduleSubmit', submitStr, function(data)
				{
					$("#submitResult").text(data);
				}).error(function(data)
				{
					$("#submitResult").text("Error saving schedule");
				});
			});
		</script>
	</body>
</html>